# Attention Scores Example

Please run [Record-Linkage-Example.ipynb](Record-Linkage-Example.ipynb) before this one in order to get the trained model at `../trained-models/notebooks/rl/rl-model.ckpt`.

## Boilerplate

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from importlib import reload
import logging
reload(logging)
logging.basicConfig(format='%(asctime)s %(levelname)s:%(message)s', level=logging.INFO, datefmt='%H:%M:%S')

In [3]:
import sys

sys.path.insert(0, '..')

In [4]:
import entity_embed

In [5]:
import torch
import numpy as np

random_seed = 42
torch.manual_seed(random_seed)
np.random.seed(random_seed)

## Loading Test Data

In [6]:
import json
from ordered_set import OrderedSet

def load_pair_set(filepath):
    with open(filepath, 'r') as f:
        test_pos_pair_set = json.load(f)
        return OrderedSet(tuple(pair) for pair in test_pos_pair_set)

train_pos_pair_set = load_pair_set('../trained-models/notebooks/rl/rl-train-pos-pairs.json')
valid_pos_pair_set = load_pair_set('../trained-models/notebooks/rl/rl-valid-pos-pairs.json')
test_pos_pair_set = load_pair_set('../trained-models/notebooks/rl/rl-test-pos-pairs.json')

In [7]:
import json

def load_record_dict(filepath):
    with open(filepath, 'r') as f:
        record_dict = json.load(f)
        return {int(id_): record for id_, record in record_dict.items()}

train_record_dict = load_record_dict('../trained-models/notebooks/rl/rl-train-records.json')
valid_record_dict = load_record_dict('../trained-models/notebooks/rl/rl-valid-records.json')
test_record_dict = load_record_dict('../trained-models/notebooks/rl/rl-test-records.json')

## Loading Model

In [8]:
from entity_embed import LinkageEmbed

model = LinkageEmbed.load_from_checkpoint('../trained-models/notebooks/rl/rl-model.ckpt')
model = model.to(torch.device('cuda'))

## Blocking

In [9]:
%%time

eval_batch_size = 64
ann_k = 100
sim_threshold = 0.5

test_found_pair_set = model.predict_pairs(
    record_dict=test_record_dict,
    batch_size=eval_batch_size,
    ann_k=ann_k,
    sim_threshold=sim_threshold,
    show_progress=True,
)

len(test_found_pair_set)

# batch embedding:   0%|          | 0/22 [00:00<?, ?it/s]

CPU times: user 1.47 s, sys: 635 ms, total: 2.11 s
Wall time: 1.34 s

960

In [10]:
%%time

test_left_vector_dict, test_right_vector_dict = model.predict(
    record_dict=test_record_dict,
    batch_size=eval_batch_size,
    show_progress=True,
)

len(test_left_vector_dict), len(test_right_vector_dict)

# batch embedding:   0%|          | 0/22 [00:00<?, ?it/s]

CPU times: user 393 ms, sys: 612 ms, total: 1.01 s
Wall time: 1.09 s

(406, 963)

In [11]:
test_attn_scores_dict = model.interpret_attention(
    record_dict=test_record_dict,
    batch_size=eval_batch_size,
    field='title',
)

len(test_attn_scores_dict)

# batch embedding:   0%|          | 0/22 [00:00<?, ?it/s]

1369

In [12]:
[id_ for id_, x in test_attn_scores_dict.items() if x.sum() < 0.99]

[]

In [13]:
from entity_embed.evaluation import pair_entity_ratio

pair_entity_ratio(len(test_found_pair_set), len(test_record_dict))

0.7012417823228634

In [14]:
from entity_embed.evaluation import precision_and_recall

precision_and_recall(test_found_pair_set, test_pos_pair_set)

(0.378125, 0.952755905511811)

In [15]:
hard_positives = list(test_pos_pair_set & test_found_pair_set)
hard_positives = [
    (id_left, id_right)
    for (id_left, id_right) in hard_positives
    if sim_threshold <= np.dot(test_left_vector_dict[id_left], test_right_vector_dict[id_right]) <= sim_threshold + 0.1
]
len(hard_positives)

24

In [16]:
import seaborn as sns
import pandas as pd
from entity_embed import default_tokenizer

def display_attention(id_, field):
    tokens = default_tokenizer(test_record_dict[id_][field])
    attn_scores = test_attn_scores_dict[id_][:len(tokens)]
    attn_df = pd.DataFrame(dict(zip(tokens, attn_scores)), index=[id_])
    cm = sns.light_palette("red", as_cmap=True)
    display(attn_df.style.background_gradient(cmap=cm, axis=1))

def display_pair_attention(pair, field):
    left_id, right_id = pair
    display_attention(left_id, field)
    display_attention(right_id, field)

for (id_left, id_right) in hard_positives[:5]:
    print(np.dot(test_left_vector_dict[id_left], test_right_vector_dict[id_right]))
    display_pair_attention((id_left, id_right), 'title')

0.5284208

0.54449064

0.55174214

0.54825926

0.5696411

In [17]:
false_negatives = list(test_pos_pair_set - test_found_pair_set)
len(false_negatives)

18

In [18]:
for (id_left, id_right) in false_negatives[:5]:
    print(np.dot(test_left_vector_dict[id_left], test_right_vector_dict[id_right]))
    display_pair_attention((id_left, id_right), 'title')

0.4690476

0.4419197

0.45072076

0.47478366

0.38709295

In [19]:
false_positives = list(test_found_pair_set - test_pos_pair_set)
len(false_positives)

597

In [20]:
for (id_left, id_right) in false_positives[:5]:
    print(np.dot(test_left_vector_dict[id_left], test_right_vector_dict[id_right]))
    display_pair_attention((id_left, id_right), 'title')

0.82730997

0.5538443

0.5290783

0.5653949

0.51935875